.Header {
	background: linear-gradient(
		180deg,
		hsl(350, 100%, 45%),
		hsl(350, 100%, 35%),
		hsl(350, 100%, 25%)
	);

	padding: 1rem;
	overflow: hidden;

	& h1 {
		font-weight: 600;
	}
}

.Header nav {
	border-radius: 4px;
	box-shadow: inset 0px 0px 20px 20px hsl(350, 100%, 20%);

	& ul {
		padding: 8px;

		list-style-type: none;

		overflow-x: auto;

		display: flex;
		flex-direction: row;
		gap: 0.5rem;
	}
}
