.Header {
	padding: 1rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	background-color: hsl(0, 0%, 50%);
}

.Header ul {
	list-style-type: none;

	display: flex;
	flex-direction: row;
	gap: 1rem;

	flex-wrap: wrap;
}

.Header ul li {
	font-size: 1.25rem;
	font-weight: 600;
}
