.ButtonLink {
	background: linear-gradient(90deg, var(--base), var(--brand));
	padding: 0.25rem 0.5rem;
	border-radius: 0.5rem;

	/* color: var(--surface-base); */
	color: aliceblue;
	text-rendering: auto;
	font-size: 1.1rem;
	font-weight: 600;
}
