.Button {
	--boxShadow: hsl(50, 100%, 50%, 0.9);
	--boxShadowHover: inset 0 0 2px 1px var(--boxShadow);

	background: var(--background);
	border-radius: 4px;
	border: none;
	box-shadow: inset 0 0 2px 1px var(--boxShadow);

	padding: 0.25rem 0.5rem;

	color: var(--surface-base);
	font-size: 1rem;
	font-weight: 700;
	text-shadow: 0 0 25px hsl(0, 0%, 0%, 0.5);

	white-space: nowrap;
}

@media (prefers-reduced-motion: no-preference) {
	.Button {
		transition: box-shadow 500ms ease-in-out;
	}
}

@media (hover: hover) {
	.Button:hover {
		box-shadow: var(--boxShadowHover);
	}
}
