.DualButton {
	background-color: transparent;
}

.DualButton button {
	background-color: hsl(0, 90%, 60%, var(--opacity));
	background-color: var(--background);
	border: none;
	outline: 1px solid black;
}

.DualButton button:nth-of-type(1) {
	border-radius: 4px 0 0 4px;
}

.DualButton button:nth-of-type(2) {
	border-radius: 0 4px 4px 0;
}
