.ColorMix {
	background-color: hsl(0, 0%, 0%);
	min-height: 100%;
	padding: 1rem;
	color: hsl(0, 0%, 95%);
}

.ColorMix header h1 {
	color: hsl(0, 0%, 95%);
	border: 5px solid hotpink;
	border-radius: 1rem;
	padding: 1rem;
}
