.ProgressBar {
	/* background-color: lightblue; */
}

.ProgressBar > div {
	width: 300px;
	background-color: rgb(109, 109, 27);
	padding: 5px;
}

.ProgressBar > div > div {
	height: 10px;
	width: 100%;
	background-color: blue;
	/* box-shadow: inset 2px 2px 2px 10px pink; */
}

.ProgressBar span {
	margin-right: 5px;
}

.ProgressBar input {
	background-color: rgb(240, 146, 146);
	padding: 2px 4px;
}
